{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block header %} {{ header }} {% endblock %}


{% block content %}
<h1>{{ content }}</h1>
<form action="/weout" method="POST" id="getout" >
	<input type="submit" value="logout" id="logout"></input>
</form>
<button id="load" class=' ' action="/load">Load</button>
<button id="save" class=' ' action="/save">Save</button>
<body'>
    <h1>Radioactive Cavalier</h1>
</body>

	<form action="" method="POST" id="notform" >
		<input hidden type="text" id="charname">
		<button hidden id="nextbutton">Next!</button>
		<input hidden type="number" id="strength" min="0" max="5">
		<input hidden type="number" id="constitution" min="0" max="5">
		<input hidden type="number" id="dexterity" min="0" max="5">
		<input hidden type="submit" value="New Character!"></input>

	</form>

{% endblock %}

